@inherits LayoutComponentBase
@using Classic_Cars_Project.Services

@inject VehicleSelectionService VehicleSelection


<div class="page">
    <div class="sidebar" style="background: #043927; text-align: center; padding:25px; border-radius:5px;">
        <h1 class="website_title">911 Club</h1>

        @if (VehicleSelection.SelectedVehicle != null)
        {
            <div class="card" style="margin-top:150px;">
                <div class="selected-vehicle">
                    <img src="@VehicleSelection.SelectedVehicle.ImageUrl" alt="Selected Vehicle" />
                    <p><strong>Model:</strong> @VehicleSelection.SelectedVehicle.Brand</p>
                    <p><strong>Price:</strong> @VehicleSelection.SelectedVehicle.Price</p>
                    <p><strong>Year:</strong> @VehicleSelection.SelectedVehicle.Year</p>
                </div>
            </div>
                }
            </div>

            <main>
                @*<div class="top-row px-4">
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>*@

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>

@code {
    protected override void OnInitialized()
    {
        VehicleSelection.OnVehicleSelected += StateHasChanged;
    }

    public void Dispose()
    {
        VehicleSelection.OnVehicleSelected -= StateHasChanged;
    }
}
